@import 'variables';
@import 'mixins';

.amenities{
    .landing-container{
        background-image: url(../assets/landings/amenities-landing.jpg);
        h1{
            @include font-style('heading');
        }
        
    }
    .intro-container{
        width: 90vw;
        height: 60vh;
        margin: 5% auto;
        display: flex;
        flex-direction: row;
        gap: 5%;
        .container{
            width: 100%;
            height: 100%;
            
        }
        #first-section-img{
            @include bg-rules;
            background-size: cover;
        }
        #text-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            h2{
                margin-top: -5%;
            }
            p{
                text-align: center;
                margin-top: -3%;
            }
        }
    }
    .design-container{
        width: 100%;
        height: 75vh;
        margin: 5% auto;
        @include bg-rules;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            width: 60%;
            text-align: center;
        }
        h2{
            margin-top: -2%;
        }
        p{
            margin-top: -1%;
        }
    }
    .community-container{
        width: 90vw;
        height: 70vh;
        margin: 5% auto;
        display: flex;
        flex-direction: row;
        gap: 5%;
        .container{
            width: 50%;
            height: 100%;
        }
        #community-container-img{
            @include bg-rules;
            background-size: cover;
        }
        #text-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            h2{
                margin-top: -5%;
            }
            p{
                text-align: center;
                margin-top: -3%;
            }
        }
    }
    .smarthouse-container{
        width: 100%;
        height: 65vh;
        background-color: #120F0B;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .text-block{
            text-align: center;
            margin-top: 1%;
            h2{
                margin-top: -1.5%;
            }
            p{
                width: 70%;
                margin: -1% auto 0 auto;
            }
            
        }
        .icons-box{
            width: 100%;
            height: 25%;
            margin-top: 5%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 2%;
            .icons-item{
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 90%;
                width: 8%;
                border-radius: 28px;
                background-color: #D0C7B5;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transition: transform 0.4s ease-in-out;
                overflow: hidden;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                  }
                
            .icon{
                height: 70%;
                width: 60%;
               
              
            }
            }
        }
    }
    .roof-container{
        width: 90%;
        height: 100vh;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2{
            margin-top: -1.8%;
        }
        p{
            width: 60%;
            margin: -2% auto 0 auto;
        }
        .container-items{
            width: 75%;
            height: 62%;
            display: grid;
            margin: 2% auto 0 auto;
            grid-template-areas:
            "a  b"
            "a  c";
            gap: 2%;
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: transform 0.4s ease-in-out;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                  }
    
            }
            .item-first{
                grid-area: a;
                @include bg-rules;  
                background-size: cover;
                
            }
            .item-second{
                grid-area: b;
                @include bg-rules; 
                height: 95%;
            }
            .item-third{
                grid-area: c;
                @include bg-rules; 
               
            }
        }
    }
}

@media only screen and (max-width: 1440px){
    .amenities{
        .smarthouse-container{
            height: 60vh;
            .icons-box{
                height: 22%;
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .amenities{
        .intro-container{
            height: 55vh;
        }
        .design-container{
            height: 55vh;
        }
        .community-container{
            height: 55vh;
            margin: 8% auto;
        }
        .smarthouse-container{
            height: 55vh;
            .icons-box{
                height: 20%;
             
                .icons-item{
                    border-radius: 20px;
                   .icon{
                    height: 60%;
                    width: 55%;
                   }
                }
            }
        }
        .roof-container{
            width: 80%;
            height: 80vh;
            p{
                width: 80%;
                margin-bottom: 7px;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .amenities{
        .intro-container{
            height: 45vh;
            width: 80vw;
        }
        .design-container{
            height: 45vh;
        }
        .community-container{
            height: 45vh;
            width: 80vw;
            margin: 8% auto;
        }
        .smarthouse-container{
            height: 40vh;
            .icons-box{
                height: 25%;
             
                .icons-item{
                    border-radius: 20px;
                   .icon{
                    height: 60%;
                    width: 55%;
                   }
                }
            }
        }
        .roof-container{
            width: 100%;
            height: 57vh;
            .container-items{
                width: 70%;
            }
            p{
                width: 80%;
                margin-bottom: 7px;
            }
        }
    }
}