@import 'variables';
@import 'mixins';

.apartments{
    .landing-container{
        background-image: url(../assets/landings/apartments-landing.jpg);
        h1{
            @include font-style('heading');
        }
       
    }
 
    .apartments-container{
        width: 85%;
        height: 90vh;
        margin: 3% auto 2% auto;
        display: flex;
        flex-direction: column;
       .apartments-content{
        width: 100%;
        height: 100%;
       }
        .apartments-nav{
            width: 100%;
            height: 14%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            .nav{
                display: flex;
                align-items: center;
                width: 80%;
                
                ul{
                    width: 100%;
                    display: flex;
                    list-style-type: none;
                    gap: 6%;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-family: 'Cormorant SC';
                    font-weight: 600;
                    li{
                        transition:  0.4s ease-in;
                        cursor: pointer;
                        &:hover{
                            color: burlywood;  
                        }
                    }
                }
            }
            button{
                height: 50px;
                width: 200px;
                margin: 0 auto;
                border-radius: 15px;
                background:#967647;
                border: none;
                color: white;
                font-size: 20px;
                cursor: pointer;
            }
        }
       
    }
    .apartments-box{
        width: 100%;
        height: 70%;
        margin: 2% auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3%;
        .ap-showoff{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .ap-imgs{
                width: 100%;
                height: 90%;
                .content{
                    width: 100%;
                    height: 95%;
                    margin: 1% auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .floorplan{
                        height: 100%;
                        width: 90%;
                        margin: 0 auto;
                       
                    }
        
                }
            }
            .ap-nav{
                width: 50%;
                height: 10%;
                display: flex;
                justify-content: space-around;
                button{
                    color: #443A2C;
                    border: none;
                    background-color: transparent;
                    font-size: 25px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
        .ap-info{
            height: 100%;
            width: 40%;
            .info-content{
                height: 100%;
                width: 90%;
           
                h3{
                    color: #443A2C;
                }
                ul{
                    width: 60%;
                    height: 40%;
                    list-style-type: none;
                    border-bottom: 1px solid rgb(112, 82, 5);
                    border-top: 1px solid rgb(112, 82, 5);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    li{
                        font-size: 1.2vw;
                        font-family: "Inter";
                        font-weight: 500;
                        margin-left: -10%;
                        span{
                            color: rgb(169, 143, 17);
                            margin-left: 2%;
                        }
                    }
                }
                p{
                    width: 70%;
                    line-height: 140%;
                }
                .buttons{
                    display: flex;
                    gap: 3%;
                    button{
                        border: none;
                        background:#967647;
                        font-size: 20px;
                        height: 50px;
                        width: 180px;
                        border-radius: 15px;
                        color: rgb(235, 233, 233);
                        cursor: pointer;
                        font-weight: 100;
                        box-shadow:  0px 4px 4px 0px rgba(89, 88, 88, 0.2);;
                    }
                }
            }
        }
    }
    .calculator-container{
        width: 70%;
        height: 60vh;
        margin: 0 auto 5% auto;
        border-top:1px solid #443A2C ;
        padding: 2%;
        .heading{
            height: 30%;
            width: 60%;
            
            h3{
                margin-top: -0.8%;
                text-transform: uppercase;
                font-size: 20px;
                color: #967647;
                font-family: 'Inter';
                font-weight: 800;
            }
            h2{
                margin-top: -2.7%;
                font-size: 45px;
            }
        }
        .container{
            width: 100%;
            height: 70%;
        }
    }
}

@media only screen and (max-width: 1024px){
    .apartments{
        .apartments-container{
            width: 90%;
            height: 85vh;
            .apartments-content{
                .apartments-nav{
                    .nav{
                        ul{
                            font-size: 20px;
                        }
                    }
                    button{
                        width: 150px;
                        height: 35px;
                        font-size: 13px;
                    }
                }
                .apartments-box{
                    .ap-showoff{
                        .ap-nav{
                            button{
                                font-size: 17px;
                            }
                        }
                    }
                    .ap-info{
                        .info-content{
                            ul li{
                                margin-left: -20%;
                            }
                        }
                        .buttons{
                            button{
                                font-size: 10px;
                                height: 30px;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
        .calculator-container{
            width: 90%;
            .heading{
                width: 45%;
                h3{
                    font-size: 14px;
                }
                h2{
                    font-size: 27px;
                }
            }
            .container{
                .morgage-container{
                    .calculator{
                        button{
                            font-size: 17px;
                            height: 35px;
                        }
                    }
                    .result{
                        .result-content{
                            button{
                                height: 37px;
                                width: 13vw;
                                font-size: 14px;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .apartments{
        .apartments-container{
            width: 95%;
            height: 65vh;
            .apartments-content{
                .apartments-nav{
                    .nav{
                        ul{
                            font-size: 14px;
                        }
                    }
                    button{
                        width: 90px;
                        height: 28px;
                        font-size: 9px;
                        border-radius: 8px;

                    }
                }
                .apartments-box{
                    .ap-showoff{
                        .ap-imgs{
                            height: 100%;
                        }
                        .ap-nav{
                            button{
                                font-size: 13px;
                            }
                        }
                    }
                    .ap-info{
                        .info-content{
                            ul li{
                                margin-left: -25%;
                            }
                        }
                        .buttons{
                            button{
                                font-size: 8px;
                                height: 23px;
                                width: 75px;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
        .calculator-container{
            width: 90%;
            height: 45vh;
            .heading{
                width: 45%;
                h3{
                    font-size: 10px;
                }
                h2{
                    font-size: 20px;
                }
            }
            .container{
                .morgage-container{
                    .calculator{
                        padding-top: 0;
                        .calculator-item{
                            input{
                                height: 25px;
                                font-size: 10px;
                            }
                        }
                        button{
                            font-size: 10px;
                            height: 23px;
                            border-radius: 8px;
                        }
                    }
                    .result{
                        .result-content{
                            margin: auto;
                            h2{
                                font-size: 15px;
                            }
                            .results-cont{
                                height: auto;
                                margin: 2% auto;
                            }
                            button{
                                height: 25px;
                                width: 80px;
                                font-size: 8px;
                                border-radius: 8px;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}