@import 'variables';
@import 'mixins';

.contact{
    background:  #161616;
    .landing-container{
    background-image: url(../assets/landings/contact-landing.jpg);
    h1{
        @include font-style('heading');
    }

    }
    .contact-info-container{
        width: 100%;
        height: 65vh;
        margin: 0 auto ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        /* background: linear-gradient(to bottom, #EEECE6, #e6e6e6); */
        padding-top: 3%;
        padding-bottom: 2%;
        .container-item{
            width: 35%;
            height: 100%;
        }
        #form{
            
            width: 25%;
            height: 90%;
            .form-container{
                background-color: transparent;
                width: 100%;
                height: 100%;
                margin-top: 0;
                
                .container-content{
                    width: 100%;
                    height: 100%;
                    .contact-block{
                        display: none;
                    }
                    .contact-form-container{
                        width: 100%;
                        height: 100%;
                        form{
                            width: 100%;
                            height: 100%;
                         
                            input[type="text"],
                            input[type="tel"],
                            input[type="email"],
                            /* input[type="text"], */
                            textarea {
                              height: 4.7vh;
                              width: 96%;
                              margin-bottom: 2%; 
                              padding: 0.4vw;
                              border: 2px solid #443A2C;
                              /* background-color: #EEECE6; */
                            }
                            textarea{
                                height: 30vh;
                            }
                            button[type="submit"]{
                               height: 7.2vh;
                               font-weight: 100;
                             
                            }
                        }
                        
                    }
                }
               
                                
                            
                        
                    
                
            }
        }
        #info{
            display: flex;
            flex-direction: column;
            .text-block{
                width: 100%;
                height: 60%;
                h3{
                    margin-top: -0.5%;
                    font-size: 1.4vw;
                    color: rgb(142, 142, 142);
                }
                h2{
                    margin-top: -2.5%;
                }
                p{
                    width: 90%;
                    font-size: 20px;
                    margin-top: -3%;
                }
            }
            .socials{
                display: flex;
                flex-direction: column;
                margin-top: 7%;
                width: fit-content;
                .contact-list-item{
                    display: inline-flex;
                    vertical-align: middle;
                    padding-bottom: 3px;
                   
                    .icon{
                        font-size: 21px;
                        color: #443A2C;
                       
                        
                    }
                    .text{
                        font-size: 18px;
                        margin-left: 10px;
                        color: #4B4545;
                    }
                }
                }
                      
        }
    }
    .map-container{
        width: 100%;
        height: 55vh;
        margin: 0 auto;
        background-color: antiquewhite;
      
    }
    .follow-us-container{
        width: 99%;
        height: 70vh;
        margin: 0% auto;
       /*  border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 1%;
        .text-block{
        height: fit-content;
        h2{
            margin-top: -4%;
        } 
        }
        .links-container{
            width: 100%;
            height: 60%;
            /* border: 1px solid red; */
            display: flex;
            align-items: center;
            justify-content: space-around;
            .item{
                height: 80%;
                width: 20%;
                border: 1px solid #6c5d43;
                border-radius: 10px;
                @include bg-rules;
                background-size: cover;
                transition: transform 0.4s ease-in-out;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                  }
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .contact{
        .contact-info-container{
            height: 55vh;
            padding-top: 4%;
            padding-bottom: 4%;
            #form{
                width: 30%;
            }
            #info{
                width: 40%;
            }
        }
        .follow-us-container{
            height: 60vh;
        }
    }
}
@media only screen and (max-width: 1024px){
    .contact{
        .contact-info-container{
            #info{
                .text-block{
                    p{
                        font-size: 15px;
                    }
                }
                .socials{
                    .contact-list-item{
                        .icon{
                            font-size: 18px;
                        }
                        .text{
                            font-size: 16px;
                        }
                    }
                 
                }
            }
            #form{
                input{
                    &::placeholder{
                        font-size: 10px;
                    }
                }
                textarea{
                    &::placeholder{
                        font-size: 10px;
                    }
                }
                button{
                    font-size: 15px;
                }
            }
        }
        .follow-us-container{
            height: 55vh;
        }
    }
}
@media only screen and (max-width: 768px){
    .contact{
        .contact-info-container{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 0;
            .container-item{
                height: 50%;
                align-items: center;
            }
            #info{
                width: 90%;
                height: fit-content;
                margin-top: -10%;
                .text-block{
                    align-items: center;
                    text-align: center;
                  
                    h3{
                     
                        font-size: 10px;
                        margin-bottom: 2%;
                    }
                    h2{
                        /* margin-top: -2.5%; */
                        font-size: 25px;
                    }
                    p{
                        width: 80%;
                        font-size: 13px;
                        margin: 0 auto;
                    }
                }
                .socials{
                    height: fit-content;
                    margin: 4% auto 0 auto;
                    width: fit-content;
                    /* align-items: center; */
                    .contact-list-item{
                        .icon{
                            font-size: 13px;
                            
                            
                        }
                        .text{
                            font-size: 12px;
                           
                        }
                    }
                   
                }
            }
            #form{
                width: 50%;
                height: 50%;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                .form-container{
                    .container-content{
                    .contact-form-container{
                        form{
                            
                            .name-inputs{
                                display: flex;
                                flex-direction: column;
                                gap: 2vh;
                                input[type="text"]{
                                    width: 91%;
                                    height: 5vh;
                                    /* padding: 0; */
                                }
                            }
                            input[type="tel"],
                            input[type="email"],
                            /* input[type="text"], */
                            textarea {
                                height: 5vh;
                                
                            }
                            button[type="submit"]{
                                border-radius: 10px;
                                width: 50%;
                                height: 28px;
                                margin: 2% auto;
                                font-size: 10px;
                            }
                            textarea{
                                height: 20vh;
                            }
                        }
                    }
                }
                }
            }
        }
        .follow-us-container{
            height: 40vh;
            .text-block{
                margin-top: 3%;
                h3{
                    font-size: 10px;
                }
                h2{
                    font-size: 22px;
                }
            }
           
            .links-container{
                height: 50%;
                width: 95%;
            }
        }
      .map-container{
        
        height: 35vh;
        
      } 
    }
}

@media only screen and (max-width: 471px){
    .contact{
        .contact-info-container{
            #info{
                .socials{
                    margin-top: 8%;
                }
            }
            #form{
                width: 80%;
            }
        }
        .map-container{
            height: 37vh;
            .map{
                height: 100%;
            }
        }
        .follow-us-container{
            height: 60vh;
            .links-container{
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               grid-template-rows: repeat(2, 1fr);
               height: 70%;
               margin: 0 auto;
               padding-left: 2.5%;
               .item{
                width: 90%;
                height: 90%;
               }
            }
        }
    }
 
}