@import 'variables';
.counter-container{
    width: 100%;
    height: fit-content;
    background-color: #212121;
    display: flex;
    align-items: center;
    gap: 1%;
    margin-bottom: 2%;
   
        .counter-item{
            height: 70%;
            width: 30%;
            text-align: center;
           
            h2{
                font-size: 2vw;
                color: #D2B978;
                font-family: 'Inria Serif';
                font-weight: 100;
                
            }
            p{
                font-size: 2vw;
                margin-top: -6%;
                color: #fff;
                font-family: 'Inria Serif';
                font-weight: 200;
            }
        }
       
    }

    @media only screen and (max-width: 768px){
        .counter-container{
            height: 49vh;
            background-color: #212121;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1%;
            margin-bottom: 7%;
           
                .counter-item{
                    height: 70%;
                    width: 30%;
                    text-align: center;
                }
               
            }
    }

    @media only screen and (max-width: 768px){
        .count{
            height: 100%;
        }
        .counter-container{
            height: 100%;
                .counter-item{
                    margin-top: 3%;
                    h2{
                        font-size: 17px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
               
            }
    }
