@import 'variables';
.footer-container{
    width: 100%;
    height: 55vh;
    background-color: #121211;
    color: #534939;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    .footer-content{
        width: 90%;
        height: 70%;
        border-bottom: 1px solid rgb(61, 44, 12);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8%;
        .footer-contact{
            display: flex;
            flex-direction: column;
            width: 33%;
            p{
                margin-left: 9%;
            }
        .contact-list{
            list-style-type: none;
            .contact-list-item{
                font-size: 1.1vw;
                padding-bottom: 3vh;
                .icon{
                    color: rgb(59, 51, 29);
                    padding-right: 5%;
               
                }
            }
        }
    }
    .footer-navigation{
        width: 33%;
        margin-left: 5%;
        p{
            margin-left: 9.5%;
        }
        .footer-nav{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            row-gap: 5%;
            .footer-nav-item{
                font-size: 1.1vw;
                cursor: pointer;
                padding-bottom: 6%;
            }
        }
    }
    .footer-logo{
        width: 33%;
        img{
            width: 20vw;
            height: 37vh;
        }
    }
      
        p{
            font-family:'Inria Serif', serif;
            font-size: 2vw;
        }
    }
    .copyright{
        color: #a09b94;
    }
}