@import 'variables';
.footer-container{
    width: 100%;
    height: 55vh;
    background-color: #121211;
    color: #534939;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    .footer-content{
        width: 90%;
        height: 70%;
        border-bottom: 1px solid rgb(61, 44, 12);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8%;
        .footer-contact{
            display: flex;
            flex-direction: column;
            width: 33%;
            p{
                margin-left: 9%;
            }
        .contact-list{
            list-style-type: none;
            .contact-list-item{
                font-size: 1.1vw;
                padding-bottom: 3vh;
                .icon{
                    color: rgb(59, 51, 29);
                    padding-right: 5%;
               
                }
            }
        }
    }
    .footer-navigation{
        width: 33%;
        margin-left: 5%;
        p{
            margin-left: 9.5%;
        }
        .footer-nav{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            row-gap: 5%;
            .footer-nav-item{
                font-size: 1.1vw;
                cursor: pointer;
                padding-bottom: 6%;
            }
        }
    }
    .footer-logo{
        width: 33%;
        img{
            width: 20vw;
            height: 37vh;
        }
    }
      
        p{
            font-family:'Inria Serif', serif;
            font-size: 2vw;
        }
    }
    .copyright{
        color: #a09b94;
    }
}

@media only screen and (max-width: 767px){
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110vh;
        width: 100%;
        text-align: center;
        margin-top: 0;
       
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 80%;
            height: 90%;
            gap: 20px;
            padding: 20px;
            p{
                font-size: 5vw;
            }
            .footer-navigation{
                width: 65%;
                margin-left: 0;

                p{
                    margin-left: 0;
                }
                .footer-nav{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: fit-content;
                    .footer-nav-item{
                        font-size: 4.2vw;
                        padding-bottom: 10%;
                    }
                }
            }
            .footer-contact {
                text-align: left;
                width: 90%;
                    p{
                        margin: 0 auto;
                    }
                    .contact-list{

                        .contact-list-item{
                            font-size: 4.2vw;
                            padding-bottom: 10%;
                        }
                    }
                
            }
            .footer-logo{
                margin-top: 0;
                order: -1;
                width: fit-content;
                img {
                    width: 32vw;
                    height: 25vh;
                   
                  }
            }
           
            
           
          }
          
         

    }
    
   
}
