@import 'variables';
@import 'mixins';
.home{
    width: 100%;
   
.landing-container{
   /*  @include langing-page-rules; */
    background-image: url(../assets/landings/home-landing.jpg);
    .heading{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        text-align: center;
        position: absolute;
        p{
            @include font-style('heading');
            z-index: 2;

        }
            .top-items{
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;

                .icon{
                    font-size: 2vw;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                p{
                    font-size: 1vw;
                    padding-right: 10px;
                }
            }
    }
  
}
    .intro-container{
        width: 80vw;
        height: 110vh;
        margin: -4% auto 2% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .intro-container-text{
            display: flex;
            width: 55vw;
            height: 30vh;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin: 0 auto;
            gap: 0;
            position: relative;
            h2{
                margin-top: -4%;
            }
            p{
                margin-top: -4%;
               
            }
        }
        .intro-container-links{
            width: 80%;
            height: 60%;
            display: grid;
            margin: 0 auto;
            grid-template-areas:
            "a  b"
            "a  c";
            gap: 2%;
            .intro-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: transform 0.4s ease-in-out;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                  }

                h3{
                 color: #fff;
                 font-size: 2vw;
                 font-family: 'Inria Serif';
                 font-weight: 300;
                 margin-top: -5%;
                
                }
                h4{
                    color: #d4d4d4;
                    font-size: 1vw;
                    text-transform: uppercase;
                    font-family: 'Inria Serif';
                    font-weight: 300;
                    
                }
    
            }
            .intro-exterior{
                grid-area: a;
                background-image: url(../assets/home/exterior-link.jpg);
                @include bg-rules;  
                
            }
            .intro-neigh{
                grid-area: b;
                background-image: url(../assets/home/neigh-link.jpg);
                @include bg-rules; 
                height: 95%;
            }
            .intro-interior{
                grid-area: c;
                background-image: url(../assets/home/interior-link.jpg);
                @include bg-rules; 
               
            }
        }
}
.overview-container{
    width: 70%;
    height: 74vh;
    margin: 5% auto;
    display: flex;
    align-items: center;
    padding: 2%;
    gap: 3%;
    .overview-item{
        width: 100%;
        height: 100%;
      
    }
    #image{
       /*  border-radius: 30px; */
        background-image: url(../assets/home/overview.webp);
        @include bg-rules;
    }
    #text-block{
        text-align: left;
        border-right: 2px solid rgb(170, 158, 126);
        border-bottom: 2px solid rgb(170, 158, 126);
        padding: 2%;
       h3{
        margin-top: -1.5%;
       }
       h2{
        margin-top: -6%;
       }
       p{
        margin-top: -6%;
        line-height: 150%;
       }
      
    }
}

.map-section{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0  auto 0 auto;
    .map-headings{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 50%;
        h3{
            font-size: 1.4vw;
            margin-top: -5%;
            color: #583b20;
            margin-bottom: 4%;
          
          }

    }
    


}
.offer-section{
    width: 80vw;
    height: 80vh;
    border: 1px solid blue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .offer-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20%;
        width: fit-content;
        border: 1px solid black;
        margin-top: -2%;
        h2{
            margin-top: -10%;
        }
    }
}

}



/* 
RESPONSIVE */
@media only screen and (max-width: 767px) {
    .home{
    .landing-container{
        width: 100%;
        height: 100vh;
    .heading{
        width: 100%;
        p{
            font-size: 8.8vw;
        }

        .heading-text{
            
            .top-items{
                p{
                    font-size: 4vw;
                }
                .icon{
                    padding-right: 5px;
                    font-size: 3.7vw;
                }
                
            }
        }
    }
}
.intro-container{
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
    width: 95vw;
    height: 130vh;
 /*    border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro-container-text{
        width: 100%;
        height: 20%;
        margin-top: -35%;
        padding: 0;
      /*   border: 1px solid red; */
        text-align: center;
       h3{
        width: 100%;
        font-size: 5vw;
       }
       h2{
        font-size: 5.4vw;
       }
       p{
        font-size: 3vw;
       }
    }
    .intro-container-links{
        width: 100%;
        margin-top: 2%;
       /*  border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3%;
        .intro-item{
            width: 100%;
            height: 30vh;
            h3{
                margin-top: -2%;
                font-size: 4vw;
            }
            h4{
                font-size: 2vw;
            }
        }
    }
}
.overview-container{
     width: 85%;
     height: 63vh;
     margin: 5% auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0%;
     #image{
        width: 60%;
        order: 1;
     }
     #text-block{
        text-align: center;
        border-right: none;
        border-bottom: none;
       h3{
        margin: 0;
        font-size: 4vw;
       }
       h2{
        margin: 0;
        font-size: 5vw;
       }
       p{
        margin: 0;
        line-height: 150%;
        font-size: 3.2vw;
       }
      
    }
     
 }
 .map-section{
    width: 100%;
    height: 40vh;
    margin: 5% auto;
    .map-headings{
        width: 100%;
        h3{
            margin-top: -3%;
            font-size: 2.5vw;
        }
        h2{
            font-size: 4vw;
        }
    }
   


 }
}

}