@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Fauna+One&family=Gudea&family=Heebo&family=Inria+Serif&family=Inter:wght@300;400&family=Khula:wght@300&family=Lancelot&family=Nanum+Myeongjo&family=Raleway:wght@300&display=swap');

$font-styles: (

    heading:(
    font-size: 6.8vw,
    color: #FFFFFF,
    font-family: 'Cormorant SC'
    )
);