@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Fauna+One&family=Gudea&family=Heebo&family=Inria+Serif&family=Inter:wght@300;400&family=Khula:wght@300&family=Lancelot&family=Nanum+Myeongjo&family=Raleway:wght@300&display=swap');
:root {
  --heading-font-size-desktop: 6.8vw;
  --heading-font-size-mobile: 24px; // Define a mobile fallback size
}

$font-styles: (
    heading:(
    font-size: 130px,
    color: #FFFFFF,
    font-family: 'Cormorant SC',
    font-weight: 100
    ),
    h2: (
    font-size: 45px,
    color: #443A2C,
    font-family: 'Inria Serif'
  ),
  h3: (
    font-size: 25px,
    color: #DCBB65,
    font-weight: 300,
    font-family: 'Inria Serif' 
  ),
  p: (
    font-size: 25px,
    color: #4B4545,
    font-family: 'Gudea', 
    )
);

$res-font-styles: (
    h2: (
    font-size: 30px
  ),
  h3: (
    font-size: 20px,
  ),
  p: (
    font-size: 16px,
   
    )
);
$smaller-font-styles: (
    h2: (
    font-size: 20px
  ),
  h3: (
    font-size: 12px,
  ),
  p: (
    font-size: 12px,
   
    )
);

$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;

/* $icon-box-bg: #998663;
$second-bg: #f5ece0;
$overview-line-bg: #9D7957;
$contactus-bg: #212121;
$contactus-prim: #967647; */
$primary: #DCBB65;

