@import 'navbar';
@import 'home';
@import 'footer';
@import 'counter';
@import 'parallax-home';
@import 'form';
@import 'map';
@import 'bestoffer';
@import 'contact';
@import 'amenities';
@import 'apartments-page';
@import 'neigh-page';
@import 'gallery-page';
@import 'building-page';
@import 'scroll-button';
@import 'calculator';
@import 'apartments-slider';

.landing-container{
  @include langing-page-rules;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  .heading{
    @include heading-rules;
  }
}


@media only screen and (max-width: 1440px){
  .landing-container{
    .heading{
      h1{
        font-size: 100px;
      }
    
      
    }
  }
}

@media only screen and (max-width: 1024px){
  .landing-container{
    height: 80vh;
    .heading{
      h1{
        font-size: 75px;
      }
    }
    .scrolldown{
      --sizeX: 23px;
      --sizeY: 35px;
      border: calc(var(--sizeX) /12) solid var(--color);
      margin-top: 59vh;
      &::before{
        bottom: 21px;
        width: 5px;
      }
      .chevrons{
        margin-top: 35px;
        margin-left: -5px;
        .chevrondown{
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px){
  .landing-container{
   
    .heading{
      margin-top: 10%;
      h1{
        font-size: 65px;
      }
      
    }
  }
}



::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dbc795; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255); 
  }
  @media (max-width: 768px) {
    .scrollable-container {
      overflow: hidden;
    }
  }
  
  h3{
    @include font-style('h3');
    @include responsive-font-style(h3);
    @include smaller-font-style(h3);
}
h2{
    @include font-style('h2');
    @include responsive-font-style(h2);
    @include smaller-font-style(h2);
}

p{
    @include font-style('p');
    @include responsive-font-style(p);
    @include smaller-font-style(p);
}
@media only screen and (max-width: 471px){
  .landing-container{
   height: 100vh;
   margin-top: -12vh;
    .scrolldown{
      margin-top: 80vh;
    
     
    }
  }
}