@import 'navbar';
@import 'home';
@import 'footer';
@import 'counter';
@import 'parallax-home';



::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dbc795; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255); 
  }
  @media (max-width: 768px) {
    .scrollable-container {
      overflow: hidden;
    }
  }
  
  h3{
    @include font-style('h3')
}
h2{
    @include font-style('h2')
}

p{
    @include font-style('p')
}