@import 'navbar';
@import 'home';
@import 'footer';
@import 'counter';
@import 'parallax-home';
@import 'form';
@import 'map';
@import 'bestoffer';
@import 'contact';
@import 'amenities';
@import 'apartments-page';
@import 'neigh-page';
@import 'gallery-page';
@import 'building-page';
@import 'scroll-button';

.landing-container{
  @include langing-page-rules;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  .heading{
    @include heading-rules;
  }
}
@media only screen and (max-width: 767px){
  .landing-container{
    margin-top: -12vh;
    .heading{
      h1{
        font-size: 14vw;
      }
      
    }
  }
}



::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #dbc795; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255); 
  }
  @media (max-width: 768px) {
    .scrollable-container {
      overflow: hidden;
    }
  }
  
  h3{
    @include font-style('h3')
}
h2{
    @include font-style('h2')
}

p{
    @include font-style('p')
}
